.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family: "Inter";
    margin-top: 10%;
}

.form-log {
    display: flex;
    flex-direction: column;
    margin: 0.1rem auto;
}

.form-log>input {
    min-width: 380px;
    padding: 20px 0;
    padding-left: 5%;
    margin-bottom: 5%;
    outline: none;
    border: 1px solid black;
    font-family: "Inter";
    border-radius: 2px;
    font-size: 15px;
}

.submit_btn {
    padding: 20px 0;
    margin-bottom: 5%;
    background: black;
    border: none;
    color: aliceblue;
    font-size: 22px;
    font-family: "Inter";
    border-radius: 3px;
    cursor: pointer;
}

.container {
    border: solid;
    display: flex;
    justify-content: center;
    margin-top: 11.5%;
    font-size: 30px;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container_header {
    display: flex;
    justify-content: space-between;
}

.container_header h1 {
    margin: 1%;
    font-size: 30px;
    border: solid;
    padding: 0.5%;
}

.container_header h2 {
    margin: 1%;
    font-size: 30px;
    border: solid;
    padding: 0.5%;
}
